@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Style Script', cursive;
  font-size: 30px;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  background-color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 25px;
  color: #FF99AC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover {
  background-color: #FF99AC;
  color: #fff;
}

#filter {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#filter #container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FF9A8B;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF9A8B), color-stop(55%, #FF6A88), to(#FF99AC));
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

#filter #container .heart {
  position: absolute;
  -webkit-animation: tym 3s linear infinite;
          animation: tym 3s linear infinite;
  -webkit-animation-delay: calc(-1s * var(--i));
          animation-delay: calc(-1s * var(--i));
}

#filter #container .heart:nth-child(1) {
  top: 10px;
  left: 20px;
  width: 100px;
  height: 100px;
}

#filter #container .heart:nth-child(2) {
  top: 60px;
  right: 50px;
  width: 80px;
  height: 80px;
}

#filter #container .heart:nth-child(3) {
  bottom: 50px;
  right: 20px;
  width: 100px;
  height: 100px;
}

#filter #container .heart:nth-child(4) {
  bottom: 50px;
  left: 50px;
  width: 90px;
  height: 90px;
}

#filter #container .heart:nth-child(5) {
  top: 300px;
  left: 200px;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes tym {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes tym {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

#filter #container .content {
  position: relative;
  max-width: 700px;
  min-height: 100vh;
}

#filter #container .content .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  width: 400px;
  min-height: 300px;
  background-color: #ff99ac9f;
  border-radius: 15px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 1s;
  transition: top 1s;
}

#filter #container .content .popup.active {
  top: -50%;
}

#filter #container .content .popup .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#filter #container .content .popup .sci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

#filter #container .content .popup .sci li {
  margin: 0 20px;
  border-radius: 50%;
}

#filter #container .content .popup .sci li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  color: #FF99AC;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#filter #container .content .popup .sci li a:hover {
  background-color: #FF6A88;
  color: #fff;
}

#filter #container .content .main {
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#filter #container .content .main.active {
  opacity: 0;
}

#filter #container .content .main .title {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#filter #container .content .main .title h1 {
  font-size: 2em;
}

#filter #container .content .main .box-btn {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  position: relative;
}

#filter #container .content .main .box-btn #yes {
  background-color: #FF99AC;
  color: #fff;
}

#filter #container .content .main .box-btn #yes:hover {
  background-color: #fff;
  color: #FF99AC;
}

#filter #container .content .main .box-btn #no.active {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

#filter #container .content .main .box-btn #count {
  margin-top: 20px;
  color: crimson;
}

#filter #container .content .main .popupMain {
  position: absolute;
  min-height: 100px;
  width: 350px;
  background-color: #FF99AC;
  bottom: -50%;
  left: 50%;
  padding: 10px;
  z-index: 99;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#filter #container .content .main .popupMain.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#filter #container .content .main .popupMain #ip {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

#filter #container .content .main .popupMain #ip::-webkit-input-placeholder {
  color: #fff;
  font-family: 'Style Script', cursive;
  letter-spacing: 2px;
}

#filter #container .content .main .popupMain #ip:-ms-input-placeholder {
  color: #fff;
  font-family: 'Style Script', cursive;
  letter-spacing: 2px;
}

#filter #container .content .main .popupMain #ip::-ms-input-placeholder {
  color: #fff;
  font-family: 'Style Script', cursive;
  letter-spacing: 2px;
}

#filter #container .content .main .popupMain #ip::placeholder {
  color: #fff;
  font-family: 'Style Script', cursive;
  letter-spacing: 2px;
}

#filter #container .content .main .popupMain #btn {
  width: 100px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  background-color: #FF6A88;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Style Script', cursive;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#filter #container .content .main .popupMain #btn:hover {
  background-color: #fff;
  color: #FF99AC;
}

#filter #container .content .main .message-me {
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  z-index: 100;
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

#filter #container .content .main .message-me.active {
  top: 50%;
}

#filter #container .content .main .message-me p {
  margin-bottom: 10px;
}

#filter #container .content .main .message-me a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .heart {
    position: absolute;
    -webkit-animation: tym 3s linear infinite;
            animation: tym 3s linear infinite;
    -webkit-animation-delay: calc(-1s * var(--i));
            animation-delay: calc(-1s * var(--i));
  }
  .heart:nth-child(1) {
    top: 10px;
    left: 20px;
    width: 100px;
    height: 100px;
  }
  .heart:nth-child(2) {
    top: 60px;
    right: 50px;
    width: 80px;
    height: 80px;
  }
  .heart:nth-child(3) {
    bottom: 50px;
    right: 20px;
    width: 100px;
    height: 100px;
  }
  .heart:nth-child(4) {
    bottom: 50px;
    left: 50px;
    width: 90px;
    height: 90px;
  }
  .heart:nth-child(5) {
    top: 300px;
    left: 200px;
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=sendmyscrush.css.map */